language: python
python:
  - 3.6
install:
  - pip install -r requirements/development.txt
script:
  - pytest --cov
after_success:
  - coveralls
notifications:
  email:
    on_success: never
    on_failure: always
