<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Comics</title>

    <link href="static/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/the-comics.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="row tc-border">
        <div class="col-md-12 tc-header-background">
            <img src="{{character_image}}" class="img-thumbnail" style="margin-top: 155px; z-index: 999999; position: absolute">
            <h1 class="tc-header-name">{{ character_name }}</h1>
        </div>
        <div class="col-md-12" style="height: 50px; background-color: white; z-index: 2"></div>
    </div>

    <div class="row tc-hr"></div>

    <div class="row tc-border tc-comic">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12 text-center tc-comic-title">
                            <h3>{{ comic_title }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 tc-comic-description">
                            <div>{{ comic_description|safe or "" }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center tc-comic-image-container">
                    <img src="{{ comic_image }}" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>

    <div class="row tc-hr"></div>

    <div class="row tc-border tc-characters">
        <div class="col-md-12">
            <h3>Story characters</h3>
        </div>
        <div class="col-md-12">
            <div class="row">
                {% for c in characters %}
                <div class="col-md-3">
                    <div class="tc-characters-box">
                        <div class="text-center">{{ c['name'] }}</div>
                        <div class="text-center">
                            <a href="?identifier={{ c['id'] }}"><img src="{{ c['thumbnail']['path'] }}/standard_medium.{{ c['thumbnail']['extension']}}" class="img-circle"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row tc-hr"></div>

    <div class="row tc-hr"></div>
</div>

<script src="static/jquery/3.2.1/jquery-3.2.1.min.js"></script>
<script src="static/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
