<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Comics</title>

    <link href="static/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/the-comics.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row" style="background-color: #269abc">
        <div class="col-md-12" style="background-color: red">
            <div class="row" style="height: 100px"></div>
            <div class="row">
                <div class="col-md-2" style="background-color: #419641">
                    <img src="{{character_image}}" class="img-thumbnail img-circle">
                </div>
                <div class="col-md-10" style="background-color: #999999">
                    <h1>{{ character_name }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row tc-hr"></div>

    <div class="row">
        <div class="col-md-12" style="background-color:#245580">
            <div class="row">
                <div class="col-md-8" style="background-color: #985f0d">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{ comic_title }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>{{ comic_description|safe or "" }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="background-color: #67b168">
                    <img src="{{ comic_image }}" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>

    <div class="row tc-hr"></div>

    <div class="row"><h3>Feature Chars</h3></div>

    <div class="row" style="background-color: #b2dba1">
        {% for c in characters %}
        <div class="col-md-3" style="border: solid ">
            <div class="text-center">{{ c['name'] }}</div>
            <div class="text-center">
                <a href="/{{ c['id'] }}"><img
                        src="{{ c['thumbnail']['path'] }}/standard_medium.{{ c['thumbnail']['extension']}}"
                        class="img-circle"></a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

<script src="static/jquery/3.2.1/jquery-3.2.1.min.js"></script>
<script src="static/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
